---
---

@import "{{ site.theme }}";
.page-header {
    color: #000;
    text-align: center;
    background-color: #156399;
    background-image: linear-gradient(220deg, #1f84e9, #bb78e3);
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #065fd4;
}
