---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #156399;
}

.main-content h1, .main-content h2, {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #06a3d4;
}


