---
---

@import "{{ site.theme }}";
.page-header {
    color: #000;
    text-align: center;
    background-color: #156399;
    background-image: url(https://github.com/PokieSteven/Blog1/blob/main/cover.jpg);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #06a3d4;
}
